= image_tag @pin.image.url(:medium)
%h1= @pin.title
%p= @pin.description

Pined by
%p= @pin.user.email

%br/



= link_to "Back", root_path, class: "btn btn-primary"
= link_to "Edit", edit_pin_path, class: "btn btn-primary"
= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary"
